<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CAMicroBlog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8275606A1C9AC20900385A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>827560831C9AC20900385A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8275608E1C9AC20900385A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
